.hour_wrapper {
    height: 70px;
    width: 100%;
    border: 1px solid #eeeaea;
    box-sizing: border-box;
    padding: 5px;
    position: relative;
}

.hour {

    height: 100%;
    width: 100%;
    cursor: pointer;

    &.hour_activity {
        background-color: #d7f0df9c;
    }

    &.hour_clicked {
        background-color: #b9cecd9c;
    }
}

.timeTitle {
    position: absolute;
    top: -0.9rem;
    right: 5px;
}