.weekBar_wrapper {
    min-height: 155px;
    max-height: 155px;

    grid-template-columns: 100%;
    grid-template-rows: 3fr 1fr;
    /* max-width: 100%; */
    padding: 2px;
    box-sizing: border-box;


    .week_wrapper {
        flex: 3;
        /* max-width: 740px; */
        height: 100%;
        width: 100%;
        /* overflow-x: scroll; */
        /* display: flex; */

        /* &>* { */
        /* min-width: calc(100% / 7); */
        /* max-width: calc(100% / 7); */
        /* } */

    }

    .monthToggler_wrapper {
        display: flex;
        justify-content: space-between;
        flex: 1;
    }
}

.data_label {
    display: flex;
    align-items: center;
    font-size: 2rem;
}

.week_wrapper {
    position: relative;
    /* Работает в Firefox */

    scrollbar-width: thin;
    scrollbar-color: #f00 #ccc;


    /* Работает в Chrome, Edge и Safari */
    &::-webkit-scrollbar {
        width: 12px;
        padding: 1px;
        height: 5px;
    }

    &::-webkit-scrollbar-track {
        background: #ccc;

    }

    &::-webkit-scrollbar-thumb {
        background-color: #f00;
        border-radius: 20px;
        /* border: 3px solid #0f0; */

    }
}

.monthToggler_btn {
    padding-inline: 40px;

    svg {
        width: 13px;

        fill: #f00;
        stroke: #f00;
        color: #f00;
    }
}