.calendarWrapper {
  max-width: 740px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  /* overflow: auto; */
  position: relative;
  overflow: hidden;
}

.carousel-root {
  height: 120px;
  margin-bottom: -20px;
}

.control-dots {
  bottom: -2px !important;
}

& .carousel {
  height: 100%;
}

.my_grid {
  display: flex;

  /* display: grid; */
  &>*:first-child {
    width: calc(100% / 8);
  }

  &>*:last-child {
    max-width: calc(100% / 8 * 7);
    min-width: calc(100% / 8 * 7);
  }
}

.my_grid_styles {
  background-color: #efefefa8;
  border: 3px solid #dfdfdf;
  border-width: 3px 0;

  padding-right: 3px;

}

.my_grid_hourweek {
  width: 100%;
}