.carousel-root {
  height: 105px;
  margin-bottom: -20px;


  @media all and (max-width: 600px) {
    height: 105px;
  }

  @media all and (max-width: 400px) {
    height: 100px;
  }

  @media all and (max-width: 320px) {
    height: 100px;
  }


}

.control-dots {
  bottom: -10px !important;

}

.carousel .control-dots .dot.selected {
  background-color: rgb(238, 101, 101);
}

& .carousel {
  height: 100px;

  @media all and (max-width: 600px) {
    height: 95px;
  }

  @media all and (max-width: 400px) {
    height: 90px;
  }

  @media all and (max-width: 320px) {
    height: 80px;
  }
}



#root,
#root * {
  scrollbar-width: thin;
  scrollbar-color: #f00 #f5f5f5;


  /* Работает в Chrome, Edge и Safari */
  &::-webkit-scrollbar {
    width: 3px;
    padding: 1px;
    height: 5px;
  }

  &::-webkit-scrollbar-track {
    background: #f5f5f5;

  }

  &::-webkit-scrollbar-thumb {
    background-color: #f00;
    border-radius: 20px;
    /* border: 3px solid #0f0; */

  }
}